.bi-button {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #178cdf;
  background-color: #3f8ce8;
}
.bi-button:hover::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.bi-button-common {
  color: #ffffff;
}
.bi-button-common-clear {
  background-color: transparent;
  border-width: 0;
  color: #3f8ce8;
}
.bi-button-common-disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  pointer-events: none;
}
.bi-button-success {
  color: #ffffff;
  background-color: #58cc7d;
  border-color: #58cc7d;
}
.bi-button-success-clear {
  background-color: transparent;
  border-width: 0;
  color: #58cc7d;
}
.bi-button-success-disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  pointer-events: none;
}
.bi-button-warning {
  color: #ffffff;
  background-color: #e85050;
  border-color: #e85050;
}
.bi-button-warning-clear {
  background-color: transparent;
  border-width: 0;
  color: #e85050;
}
.bi-button-warning-disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  pointer-events: none;
}
.bi-button-ignore {
  color: #1a1a1a;
  background-color: #ffffff;
  border-color: #d4dadd;
}
.bi-button-ignore:hover::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.2);
}
.bi-button-ignore-clear {
  background-color: transparent;
  border-width: 0;
  color: #1a1a1a;
}
.bi-button-ignore-clear:hover::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.bi-button-ignore-disabled {
  pointer-events: none;
  color: #cccccc;
  background-color: #ffffff;
  border-color: #cccccc;
}
