.label-bg {
    background-color: #B8860B;
}

.header {
    background-color: #2F2424
}

.content {
    background-color: rgba(204, 204, 204, 0.91)
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}