@scroll-bar-color: #EEEEEE;
@scroll-core-color: darken(@scroll-bar-color, 20%);
@border-color: #E0E0E0;

.table-frame {
    position: absolute;
    background-color: white;
}

.table {
    position: absolute;
}

.table-right-head {
    left: 200px;
    overflow: hidden;
}

.table-row {
    width: 100%;
    height: 40px;
}

.table-left-body-frame {
    position: absolute;
    left: 0;
    top: 40px;
}

.table-right-body-frame {
    position: absolute;
    left: 200px;
    top: 40px;
}

.body-cover {
    overflow: hidden;
    height: inherit;
    width: inherit;
}

.scroll-bar-bottom {
    position: absolute;
    left: 216px;
    top: 496px;
    background-color: @scroll-bar-color;
    border-radius: 5px;
    border-style: solid;
    border-color: @scroll-bar-color;
    border-width: 1px;
}

.scroll-bar-bottom-core {
    height: 1px;
    width: 18px;
    left: 20px;
    position: absolute;
    background-color: @scroll-core-color;
    border-radius: 5px;
    border-style: solid;
    border-color: @scroll-core-color;
    border-width: 1px;
    &:hover {
        background-color: darken(@scroll-core-color, 20%);
    }
}

.scroll-bar-right {
    position: absolute;
    left: 816px;
    top: 56px;
    background-color: @scroll-bar-color;
    border-radius: 5px;
    border-style: solid;
    border-color: @scroll-bar-color;
    border-width: 1px;
}

.scroll-bar-right-core {
    height: 18px;
    width: 1px;
    position: absolute;
    background-color: @scroll-core-color;
    border-radius: 5px;
    border-style: solid;
    border-color: @scroll-core-color;
    border-width: 1px;
    &:hover {
        background-color: darken(@scroll-core-color, 20%);
    }
}

.scroll-cover {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: white;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: @border-color;
}

.cell-complete {
    position: absolute;
    width: 98px;
    height: 38px;
    border-style: solid;
    border-color: @border-color;
    border-width: 1px;
    text-align: center;
}

.cell-lack-left {
    position: absolute;
    left: 0;
    width: 99px;
    height: 38px;
    border-style: solid;
    border-color: @border-color;
    border-width: 1px;
    border-left: 0;
    text-align: center;
}

