.tree-view-arrow {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tree-view-arrow:after {
    content: '-';
}

.tree-view-item {
    &:hover {
        background-color: rgba(148, 158, 158, 0.2);
    }
}

.tree-view-arrow-collapsed:after {
    content: '+';
  }

  .base-line-conn-background{
      background: url('./tree-vertical-line-1.png')
  }

  .tree-collapse-icon-type2{
      background: url('./tree-collapse-2.png')
  }

  .tree-expand-icon-type2{
      background: url('./tree-expand-2.png')
  }

  .mid-line-conn-background{
    background: url('./tree-vertical-line-3.png')
  }